.omok {
  position: relative;
  width: 200px;
  height: 200px;
  background: sandybrown;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .map {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      left: 0;
      top: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #000;
      top: 0;
      left: 10px;
    }

    .my {
      border-radius: 10px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;

      border: 1px solid #000;
      background: #000;
    }

    .you {
      border: 1px solid white;
      background: white;
      border-radius: 10px;
      box-sizing: border-box;
      width: 20px;
      height: 20px;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 10px;
        z-index: 10;
      }
      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 10px;
        z-index: 10;
      }
    }
  }
}